<%= form_with(model: @twt,url: choose_new_or_edit,local: true) do |form| %>
  <% if @twt.errors.any? %>
    <div id="error_explanation">
      <h2><%= @twt.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @twt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "TOP画面にもどる", "/" %>
